:root {
    --raleway: 'Raleway', sans-serif;;
    --surface-bg: #000000
    --text-style-headings: #F2F2F2
    --surface-outline: #595959
    --text-style-body: #BFBFBF
    --surface-bg-2: #FFFFFF
    --text-style-other-2: #0D0D0D
    --ten-85: #D9D9D9
    --button-bg: #D9D9D9
}

